
Intermediate/CachedAssetRegistry\.bin

Intermediate/Config/CoalescedSourceConfigs/DeviceProfiles\.ini

Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings\.ini

Saved/Autosaves/PackageRestoreData\.json

Saved/AutoScreenshot\.png

Saved/Config/CrashReportClient/UE4CC-Windows-E8535F0C4EA5451CF285CBB72F355DC8/CrashReportClient\.ini

Saved/Config/Windows/EditorPerProjectUserSettings\.ini

Saved/Config/Windows/Engine\.ini

Saved/Logs/BabciaFixed-backup-2019\.06\.25-12\.09\.29\.log

Saved/Logs/BabciaFixed\.log
Saved/Logs/BabciaFixed.log
Saved/Logs/BabciaFixed-backup-2019.06.25-12.15.31.log
Saved/AutoScreenshot.png
